MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/everflora
PORT=5000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://your-render-service.onrender.com/api/auth/google/callback
PLANTNET_API_KEY=
